<header id="main-header">
        <div class="header-container">
            <div class="header-left">
                <a href="#about-me" class="home-link">Nahshon Mokua</a>
            </div>
            <nav class="header-nav">
                <div class="nav-visible">
                    <a href="#about-me">About Me</a>
                    <a href="#research">Research</a>
                    <a href="#publications">Publications</a>
                    <a href="#teaching">Teaching</a>
                    <a href="#resume">Resume</a>
                </div>
            </nav>
            <div class="header-right">
                <a href="https://github.com/nahshonmokua" aria-label="GitHub" target="_blank"><i
                        class="fab fa-github"></i></a>
                <a href="#" id="search-icon" aria-label="Search"><i class="fas fa-search"></i></a>
                <button id="theme-toggle-icon" type="button" aria-label="Toggle Theme"><i class="fas fa-moon" aria-hidden="true"></i></button>
                <button id="hamburger-menu" class="hamburger-menu" aria-label="Toggle Menu" aria-expanded="false" hidden><i class="fas fa-bars"></i></button>
            </div>
        </div>
        <div id="dropdown-menu" class="dropdown-menu" hidden></div>
    </header>