<main id="main-content">
    <div id="page-content" class="content-flow">
        <div data-include="./modules/partials/main/about-me.html"></div>
        <div data-include="./modules/partials/main/news.html"></div>
        <div data-include="./modules/partials/main/projects.html"></div>
        <div data-include="./modules/partials/main/talks.html"></div>
        <div data-include="./modules/partials/main/publications.html"></div>
        <div data-include="./modules/partials/main/awards.html"></div>
        <div data-include="./modules/partials/main/teaching.html"></div>
        <div data-include="./modules/partials/main/cv.html"></div>
        <div data-include="./modules/partials/main/contact.html"></div>
    </div>
</main>
