<main id="main-content">
            <div id="page-content" class="">
                <!-- About Me Section -->
                <div data-include="./modules/partials/main/about-me.html"></div>
                <br>
                <div data-include="./modules/partials/main/research.html"></div>
                <br>
                <div data-include="./modules/partials/main/publications.html"></div>
                <br>
                <div data-include="./modules/partials/main/teaching.html"></div>
                <br>
                <div data-include="./modules/partials/main/resume.html"></div>
            </div>
        </main>
