<aside id="profile-sidebar">

            <!-- Profile Section -->
            <section class="profile-container ">
                <img src="./assets/nash.jpg" alt="Nahshon Mokua Obiri" class="profile-photo">
                <div class="">
                    <h1>Nahshon Mokua</h1>
                    <p>Ph.D. Student in Electrical Engineering and Computer Science</p>
                    <p><a href="https://ubi2.informatik.uni-siegen.de/usi/" target="_blank"
                            rel="noopener noreferrer">Ubiquitous Computing Group</a></p>
                    <p>University of Siegen</p>

                    <div class="social-links social-row">
                        <a href="https://www.researchgate.net/profile/Nahshon-Mokua-Obiri" aria-label="ResearchGate" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-researchgate"></i><span class="social-link-text">ResearchGate</span>
                        </a>
                        <a href="https://www.linkedin.com/in/nahshon-obiri-940b34b6/" aria-label="LinkedIn" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-linkedin"></i><span class="social-link-text">LinkedIn</span>
                        </a>
                        <a href="https://github.com/nahshonmokua" aria-label="GitHub" target="_blank" rel="noopener noreferrer" class="github-fixed-color">
                            <i class="fab fa-github"></i><span class="social-link-text">GitHub</span>
                        </a>
                        <a href="https://www.youtube.com/@nahshonmokua8137" aria-label="YouTube" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-youtube"></i><span class="social-link-text">YouTube</span>
                        </a>
                        <a href="https://scholar.google.com/citations?user=L2j1OT8AAAAJ&hl=de" aria-label="Google Scholar" target="_blank" rel="noopener noreferrer">
                            <i class="fas fa-graduation-cap"></i><span class="social-link-text">Google Scholar</span>
                        </a>
                        <a href="https://orcid.org/0000-0001-7877-4848" aria-label="ORCID" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-orcid"></i><span class="social-link-text">ORCID</span>
                        </a>
                    </div>
                </div>
            </section>
        </aside>