<section id="resume" class="">
                    <!-- CV Content Section -->
                    <section class="styled-section ">
                        <h2>Curriculum Vitae</h2>
                        <p>Please open/download an English version of my resume <a href="./files/cv_english.pdf"
                                target="_blank" rel="noopener noreferrer">here</a>.</p>
                        <p>Bitte öffnen oder laden Sie <a href="./files/cv_deutsche.pdf" target="_blank"
                                rel="noopener noreferrer">hier</a> eine deutsche Version meines Lebenslaufs herunter.
                        </p>
                    </section>
                </section>
